
.idea/misc.xml

.idea/SIA.iml

.idea/workspace.xml

TP1/__pycache__/config_loader.cpython-39.pyc

TP1/__pycache__/heuristic.cpython-39.pyc

TP1/__pycache__/node.cpython-39.pyc

TP1/__pycache__/puzzle_maker.cpython-39.pyc

TP1/__pycache__/puzzle_solver.cpython-39.pyc

TP1/__pycache__/state.cpython-39.pyc

TP1/__pycache__/statistics.cpython-39.pyc

TP1/BPA.csv

TP1/strategies/__pycache__/__init__.cpython-39.pyc

TP1/strategies/__pycache__/a_star.cpython-39.pyc

TP1/strategies/__pycache__/bpa.cpython-39.pyc

TP1/strategies/__pycache__/bpp.cpython-39.pyc

TP1/strategies/__pycache__/bppv.cpython-39.pyc

TP1/strategies/__pycache__/global_heuristic.cpython-39.pyc

TP1/strategies/__pycache__/local_heuristic.cpython-39.pyc

TP1/.idea/misc.xml

TP1/.idea/TP1.iml

TP1/__pycache__/config_loader.cpython-310.pyc

TP1/__pycache__/heuristic.cpython-310.pyc

TP1/__pycache__/node.cpython-310.pyc

TP1/__pycache__/puzzle_maker.cpython-310.pyc

TP1/__pycache__/state.cpython-310.pyc

TP1/__pycache__/stats.cpython-310.pyc

TP1/A_STAR.csv

TP1/BPP.csv

TP1/BPPV.csv

TP1/GLOBAL_H.csv

TP1/LOCAL_H.csv

TP1/strategies/__pycache__/__init__.cpython-310.pyc

TP1/strategies/__pycache__/a_star.cpython-310.pyc

TP1/strategies/__pycache__/bpa.cpython-310.pyc

TP1/strategies/__pycache__/bpp.cpython-310.pyc

TP1/strategies/__pycache__/bppv.cpython-310.pyc

TP1/strategies/__pycache__/global_heuristic.cpython-310.pyc

TP1/strategies/__pycache__/local_heuristic.cpython-310.pyc

TP2/__pycache__/config_loader.cpython-39.pyc

TP2/__pycache__/Items.cpython-39.pyc

TP2/.idea/inspectionProfiles/profiles_settings.xml

TP2/.idea/misc.xml

TP2/.idea/modules.xml

TP2/.idea/vcs.xml

TP2/.idea/workspace.xml

TP2/__pycache__/bag.cpython-310.pyc

TP2/__pycache__/config_loader.cpython-310.pyc

TP2/__pycache__/generation.cpython-310.pyc

TP2/__pycache__/Items.cpython-310.pyc

TP2/__pycache__/resolver.cpython-310.pyc

TP2/__pycache__/bag.cpython-39.pyc

TP2/__pycache__/data_loader.cpython-39.pyc

TP2/__pycache__/generation.cpython-39.pyc

TP2/__pycache__/resolver.cpython-39.pyc
